<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="gft-product-counter">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `gft-product-counter`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class GftProductCounter extends Polymer.Element {
      static get is() { return 'gft-product-counter'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'gft-product-counter'
          }
        };
      }
    }

    window.customElements.define(GftProductCounter.is, GftProductCounter);
  </script>
</dom-module>
