<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="./gft-product-counter.html">


<dom-module id="gft-product-counter-wrapper">
  <template>
    <style>
      :host {
        display: flex;
        background: rgb(255, 255, 255);
        justify-content: space-between;
      }
      
    </style>
    
    <template is="dom-repeat" items="{{arr}}">
      <div class="">
        <gft-product-counter titulo="[[item.titulo]]" cantidad="[[item.cantidad]]" imagen="../demo/pngegg.png"> 
        </gft-product-counter>
     </div>
    </template>

  </template>

  <script>

    class GftProductCounterPruebaWrapper extends Polymer.Element {
      static get is() { return 'gft-product-counter-wrapper'; }
      static get properties() {
        return {
          arr: {
            type: Array,
            value: [
            {
              titulo: "titulo 1",
              cantidad: 11
            },
            {
              titulo: "titulo 2",
              cantidad: 22
            },
            {
              titulo: "titulo 3",
              cantidad: 33
            }
          ]}
        };
      }
    }

    window.customElements.define(GftProductCounterPruebaWrapper.is, GftProductCounterPruebaWrapper);
  </script>
</dom-module>
