<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-image/iron-image.html">

<dom-module id="gft-product-counter">
  <template>
    <style>
      :host {
        display: flex;
        justify-content: space-between;
        --gft-product-titulo-font-size: 12px;
        --gft-product-cantidad-font-size: 25px;
        --gft-product-titulo-color: rgb(146, 148, 148);
        --gft-product-cantidad-color:rgb(0, 0, 0);
      }

      .content-secundary {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 15px;
        padding: 7px;
      }

      .image {
        background-image: url("demo/pun.png");
        background-repeat: no-repeat;
        width: 110px;
      }

      .titulo {
        font-size: var(--gft-product-titulo-font-size, 12px);
        font-weight: bold; 
        color: var(--gft-product-titulo-color,rgb(171, 174, 174));
        margin-bottom: 12px;
        
      }

      .cantidad {
        font-size: var(--gft-product-cantidad-font-size, 25px);
        color: var(--gft-product-cantidad-color,rgb(0, 0, 0));
      }


    </style>
    
    <!--
    <template is="dom-repeat" items="{{arrr}}">
      <div class="image">
        <div class="content-secundary">
          <p class="text">{{item.titulo}}</p>
          <p class="text">{{item.cantidad}}</p>
        </div>
      </div>
     </div>
    </template>
-->

    <div class="image">
      <!--<iron-image
          src="[[imagen]]"
          alt="[[alt]]">
      </iron-image>-->
      <div class="content-secundary">
        <span class="titulo">{{titulo}}</span>
        <span class="cantidad">{{cantidad}}</span>
      </div>
    </div>
 
    
     
  </template>

  <script>

    class GftProductCounter extends Polymer.Element {
      static get is() { return 'gft-product-counter'; }
      static get properties() {
        return {
          titulo: {
            type: String
          },
          cantidad: {
            type: Number,
            notify: true
          },
          imagen: {
            type: String
          },
          arr: {
            type: Array,
            value: [
            {
              titulo: "titulo 1",
              cantidad: 11
            },
            {
              titulo: "titulo 2",
              cantidad: 22
            },
            {
              titulo: "titulo 3",
              cantidad: 33
            },
            {
              titulo: "titulo 4",
              cantidad: 2
            }
          ]}
        };
      }
    }

    window.customElements.define(GftProductCounter.is, GftProductCounter);
  </script>
</dom-module>
